.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -66px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        margin: 0 auto;
        margin-top: 10px;
        width: 30%;
        display: flex;
        justify-content: space-between;
        button {
            display: block;
            border: none;
            border-radius: 20%;
            width: 45px;
            height: 10px;
            background-color:rgba(0, 0, 0, 0.301);
        }
        .tns-nav-active {
            background-color: rgba(0, 0, 0, 0.718);
        }
    }
}

