.consultation {
    min-height: 680px;
    background: url(../img/bg/bg2.png) center (center/cover) no-repeat;
    padding: 100px 0 108px 0;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .error {
        border: 2px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 7px;
        font-size: 14px;
    }
}