.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        background-color: $main_color;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        padding: 50px 0 56px 0;
    }
    &__addr {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 36px;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.5s all;
        &:hover {
            color: #FFFFFF;
            text-decoration:underline;
        }
    }
    &__social {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__soccial-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 52px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;
        transition: 0.3s all;
        &:hover {
            box-shadow: 3px 3px 30px #FFFFFF;
        }
        img {
            height: 27px;
        }
    }
}